body{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#root{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.conteiner-upload-home{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.upload-title{
    text-align: center;
}

.upload-image{
    height: 100%;
    
}

.image-upload-container{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-input-upload{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.custom-file-input {
    background-image: linear-gradient(-34deg, #2ded9ad2, #1792be);
    color: white;
    padding: 10px 15px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.385);
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload-button{
    background-image: linear-gradient(-34deg, #2ded9ad2, #1792be);
    color: white;
    padding: 10px 15px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.385);
}