
body{
  color: #3b3b3b;
  background-color: #fff;
  display: flex;
}

h1{
  text-align: center;
}

h2{
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.Conteiner-Graphics{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.atendimento-erro{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  
}

.container-grafico-tabela{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.tabela-mes-atual{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  font-size: 1.1rem;
  width: 400px;
}
